
<%= form_with scope: :record, method: :get, html: { data: { turbo_frame: "chart_and_list" } } do |f| %>
  <%= f.label :location, "Location" %>
  <%= f.select :location, [["根室", "NEMURO"], ["秋田", "AKITA"], ["東京", "TOKYO"], ["小笠原", "OGASAWARA"], ["高松", "TAKAMATSU"], ["鹿児島", "KAGOSHIMA"], ["那覇", "NAHA"]], { include_blank: true } %><br />
  <%= f.label :start_at, "Start" %>
  <%= f.date_field :start_at %><br />
  <%= f.label :end_at, "End" %>
  <%= f.date_field :end_at %><br />
  <%= f.submit  "計算する", { id: "calc_button" } %>
<% end %>

<%= turbo_frame_tag "chart_and_list" do %>
  <div id="chart_vertical" style="width: 600px;height:400px;"></div>
  <%= render "chart_vertical" %>

  <div id="chart_horizontal" style="width: 600px;height:400px;"></div>
  <%= render "chart_horizontal" %>

  <div data-controller="calc-results">
    <div id="list" class="flex overflow-x-auto" style="width: 600px;height:800px;">
      <div id="calc_results" class="border overflow-x-auto" style="width: 500px;height:800px;">
        <%= render "calc_results" %>
      </div>
      <div id="titles_and_records" class="border overflow-x-auto" style="width: 500px;height:800px;">
        <%= render "titles/index" %>
        <%= render "records/index" %>
      </div>
    </div>

    <div id="pagination" class="border" style="width: 600px;height:150px;">
      <%= render "pagination" %>
    </div>
  </div>
<% end %>
