
<%= form_with method: :get, html: { data: { turbo_frame: "chart_and_list", controller: "timezone session-storage" } } do |f| %>
  <%= f.label :location, "Location" %>
  <%= f.select :location,
        [ [ "根室", "NEMURO" ], [ "秋田", "AKITA" ], [ "東京", "TOKYO" ], [ "小笠原", "OGASAWARA" ], [ "高松", "TAKAMATSU" ], [ "鹿児島", "KAGOSHIMA" ], [ "那覇", "NAHA" ] ],
        { include_blank: true }, data: { session_storage_target: "locationSelect" } %><br />
  <%= f.label :first_date, "Start" %>
  <%= f.date_field :first_date, data: { session_storage_target: "firstDateField" } %><br />
  <%= f.label :last_date, "End" %>
  <%= f.date_field :last_date, data: { session_storage_target: "lastDateField" } %><br />
  <%= f.hidden_field :timezone, data: { timezone_target: "timezoneField" } %>
  <%= f.submit "計算する", { id: "calc_button", data: { action: "click->timezone#setValue click->session-storage#setItem" } } %>
<% end %>

<%= turbo_frame_tag "chart_and_list" do %>
  <div id="chart_vertical" style="width: 600px;height:400px;">
    <%= render "chart_vertical" %>
  </div>

  <div id="chart_horizontal" style="width: 600px;height:400px;">
    <%= render "chart_horizontal" %>
  </div>

  <div data-controller="calc-results-page records-page">
    <div id="list" class="flex overflow-x-auto" style="width: 600px;height:800px;">
      <div id="calc_results" class="border overflow-x-auto" style="width: 500px;height:800px;">
        <%= render "calc_results" %>
      </div>
      <% if user_signed_in? %>
        <div id="titles_and_records" class="border overflow-x-auto" style="width: 500px;height:800px;">
          <p>【測定値の項目名】ログイン時のみ表示。編集可</p>
          <div>time</div>
          <%= render partial: "record_titles/record_title", collection: @record_titles %>
          <div>memo</div>
          <p>【測定値】ログイン時のみ表示。編集可</p>
          <%= turbo_frame_tag "records" do %>
            <%= render partial: "records/record", collection: @records %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div id="pagination" class="border" style="width: 600px;height:150px;">
      <% if user_signed_in? %>
        <%= form_with method: :get, data: { records_page_target: "pageForm", turbo_frame: "records" } do |f| %>
          <%= f.hidden_field :page, data: { records_page_target: "pageField" } %>
        <% end %>
      <% end %>
      <%= render "pagination" %>
    </div>
  </div>
<% end %>
