<h1 class="font-bold">Tidal Force +</h1>

<%= render "layouts/outline" %>

<section class="border">
  <h2 class="font-bold">条件</h2>
  <%= form_with method: :get, data: { turbo_frame: "chart_and_list", controller: "timezone session-storage" } do |f| %>
    <%= f.label :location, "Location" %>
    <%= f.select :location,
          [ [ "根室", "NEMURO" ], [ "秋田", "AKITA" ], [ "東京", "TOKYO" ], [ "小笠原", "OGASAWARA" ], [ "高松", "TAKAMATSU" ], [ "鹿児島", "KAGOSHIMA" ], [ "那覇", "NAHA" ] ],
          { include_blank: true }, data: { session_storage_target: "locationSelect" } %><br />
    <%= f.label :first_date, "Start" %>
    <%= f.date_field :first_date, data: { session_storage_target: "firstDateField" } %><br />
    <%= f.label :last_date, "End" %>
    <%= f.date_field :last_date, data: { session_storage_target: "lastDateField" } %><br />
    <%= f.hidden_field :timezone, data: { timezone_target: "timezoneField" } %>
    <%= f.submit "計算する", { id: "calc_button", data: { action: "click->timezone#setValue click->session-storage#setItem" } } %>
  <% end %>
</section>

<%= turbo_frame_tag "chart_and_list" do %>
  <section>
    <h2 class="font-bold">垂直方向成分</h2>
    <div id="chart_vertical" class="h-96 w-full">
      <%= render "chart_vertical" %>
    </div>
  </section>

  <section>
    <h2 class="font-bold">水平方向成分</h2>
    <div id="chart_horizontal" class="h-96 w-full">
      <%= render "chart_horizontal" %>
    </div>
  </section>

  <%= tag.div data: { controller: "calc-results-page #{ user_signed_in? ? "records-page" : "" }" } do %>
    <div class="flex overflow-x-auto">
      <section class="border flex-1 overflow-x-auto">
        <h2 class="font-bold">計算結果</h2>
        <%= render "calc_results" %>
      </section>
      <% if user_signed_in? %>
        <section class="border flex-1 overflow-x-auto">
          <h2 class="font-bold">測定結果</h2>
          <div class="flex">
            <div>time</div>
            <%= render partial: "record_titles/record_title", collection: @record_titles %>
            <div>memo</div>
          </div>
          <div>
            <%= turbo_frame_tag "records" do %>
              <%= render partial: "records/record", collection: @records %>
            <% end %>
          </div>
        </section>
      <% end %>
    </div>

    <div class="flex mx-auto items-center justify-center border-t border-gray-200 bg-white w-76 py-3">
      <% if user_signed_in? %>
        <%= form_with method: :get, data: { records_page_target: "pageForm", turbo_frame: "records" } do |f| %>
          <%= f.hidden_field :page_id, data: { records_page_target: "pageField" } %>
        <% end %>
      <% end %>
      <%= render "pagination" %>
    </div>
  <% end %>
<% end %>

<%= render "layouts/terms_and_privacy" %>
