<%= turbo_frame_tag "record_#{extract_date_hour(record)}", class: "flex gap-1 place-content-start h-10 border-t border-t-gray-200" do %>
  <div class="self-center text-center w-18 flex-none">
    <%= record.recorded_at.in_time_zone(session[:timezone]).strftime("%H:%M") %>
  </div>
  <div class="flex gap-1 flex-none">
    <div class="grid grid-cols-6 grid-rows-1 auto-rows-max gap-1 content-start items-center flex-none w-120">
      <div>
        <%= record.column_0 %>
      </div>
      <div>
        <%= record.column_1 %>
      </div>
      <div>
        <%= record.column_2 %>
      </div>
      <div>
        <%= record.column_3 %>
      </div>
      <div>
        <%= record.column_4 %>
      </div>
      <div>
        <%= record.column_5 %>
      </div>
    </div>
    <div class="text-wrap w-memo h-10 overflow-y-auto">
      <%= display_line_breaks record.memo %>
    </div>
    <% if record.id.nil? %>
      <div class="flex justify-center items-center text-center sticky top-0 right-0 flex-none">
        <%= link_to "新規作成", new_record_path(recorded_at: record.recorded_at), data: { turbo_frame: "record_#{extract_date_hour(record)}" }, class: "" %>
      </div>
    <% else %>
      <div class="flex gap-2 justify-center items-center flex-none">
        <%= link_to "編集", edit_record_path(record), data: { turbo_frame: "record_#{extract_date_hour(record)}" } %>
        <%= link_to "削除", confirm_destroy_record_path(record), data: { turbo_frame: "record_#{extract_date_hour(record)}" } %>
      </div>
    <% end %>
  </div>
<% end %>
