<%= turbo_frame_tag "record_#{extract_date_hour(record)}" do %>
  <div class="row py-2 border-top">
    <div class="col-4 my-auto">
      <%= record.recorded_at.in_time_zone(session[:timezone]) %>
    </div>
    <div class="col-4 my-auto">
      <%= record.column_0 %>
    </div>
    <div class="col-4 my-auto">
      <%= record.column_1 %>
    </div>
    <div class="col-4 my-auto">
      <%= record.column_2 %>
    </div>
    <div class="col-4 my-auto">
      <%= record.column_3 %>
    </div>
    <div class="col-4 my-auto">
      <%= record.column_4 %>
    </div>
    <div class="col-4 my-auto">
      <%= record.column_5 %>
    </div>
    <div class="col-4 my-auto">
      <%= record.memo %>
    </div>
    <div class="col-4">
      <div class="d-flex justify-content-end">
        <% if record.id.nil? %>
          <%= link_to "新規作成", new_record_path(recorded_at: record.recorded_at), data: { turbo_frame: "record_#{extract_date_hour(record)}" } %>
        <% else %>
          <%= link_to "編集", edit_record_path(record), data: { turbo_frame: "record_#{extract_date_hour(record)}" } %>
          <%= button_to "削除", record, method: :delete, data: { turbo_confirm: "本当に削除しますか？" } %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
