<%# <%= turbo_frame_tag cat do %>
  <div class="row py-2 border-top">
    <div class="col-4 my-auto">
      <%= record.recorded_at.in_time_zone("Asia/Tokyo") %>
    </div>
    <div class="col-4 my-auto">
      <%= record.column_0 %>
    </div>
    <div class="col-4 my-auto">
      <%= record.column_1 %>
    </div>
    <div class="col-4 my-auto">
      <%= record.column_2 %>
    </div>
    <div class="col-4 my-auto">
      <%= record.column_3 %>
    </div>
    <div class="col-4 my-auto">
      <%= record.column_4 %>
    </div>
    <div class="col-4 my-auto">
      <%= record.column_5 %>
    </div>
    <div class="col-4 my-auto">
      <%= record.memo %>
    </div>
    <div class="col-4">
      <div class="d-flex justify-content-end">
        <%# <%= link_to "編集", edit_cat_path(cat), class: "btn btn-sm btn-outline-primary me-2", data: { turbo_frame: "modal" } %>
        <%# <%= link_to "削除", cat, class: "btn btn-sm btn-outline-danger", data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
      </div>
    </div>
  </div>
<%# <% end %>
